@import "tailwindcss";
@plugin "daisyui";


@theme {
    --color-mint-500: '#000',
}


body{
    font-family: "Sora", serif;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6, p, span, a{
    font-family: "Sora", serif;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

/* h1{
    font-size: 65px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
} */